datafactoryanalitics/PartialArmTemplates/ArmTemplate_7_17_2020_20_33_22.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "datafactoryanalitics"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CopiarSqltoGen2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "politicos",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "politicosSql",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "ParquetPoliticos",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "TiposUsuario",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "politicos",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"isolationLevel": "ReadUncommitted"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "NodeTypeSql",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "ParquetNodeType",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/politicosSql')]",
				"[concat(variables('factoryId'), '/datasets/ParquetPoliticos')]",
				"[concat(variables('factoryId'), '/datasets/NodeTypeSql')]",
				"[concat(variables('factoryId'), '/datasets/ParquetNodeType')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ParquetPoliticos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "storagegen2multiuso",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "politicos",
						"fileSystem": "twitterdatafiles"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/politicosSql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlTwitterMagister",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "screen_name",
						"type": "nvarchar"
					},
					{
						"name": "Nombre",
						"type": "nvarchar"
					},
					{
						"name": "Partido",
						"type": "nvarchar"
					},
					{
						"name": "Cargo",
						"type": "nvarchar"
					},
					{
						"name": "Activo",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Politico"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/NodeTypeSql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlTwitterMagister",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "idNodeType",
						"type": "int",
						"precision": 10
					},
					{
						"name": "NodeType",
						"type": "varchar"
					},
					{
						"name": "NodeTypeDescription",
						"type": "nvarchar"
					},
					{
						"name": "Active",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "NodeType"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ParquetNodeType')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "storagegen2multiuso",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "nodetype",
						"fileSystem": "twitterdatafiles"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "id",
						"type": "INT64"
					},
					{
						"name": "screen_name",
						"type": "UTF8"
					},
					{
						"name": "Nombre",
						"type": "UTF8"
					},
					{
						"name": "Partido",
						"type": "UTF8"
					},
					{
						"name": "Cargo",
						"type": "UTF8"
					},
					{
						"name": "Activo",
						"type": "BOOLEAN"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/usuariosql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlTwitterMagister",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "idGraph",
						"type": "int",
						"precision": 10
					},
					{
						"name": "idNodeType",
						"type": "int",
						"precision": 10
					},
					{
						"name": "idUserTwitter",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "codeUserTwitterCurrent",
						"type": "varchar"
					},
					{
						"name": "followersCurrent",
						"type": "int",
						"precision": 10
					},
					{
						"name": "followingsCurrent",
						"type": "int",
						"precision": 10
					},
					{
						"name": "favourites_count",
						"type": "int",
						"precision": 10
					},
					{
						"name": "statuses_count",
						"type": "int",
						"precision": 10
					},
					{
						"name": "location",
						"type": "nvarchar"
					},
					{
						"name": "profile_location",
						"type": "nvarchar"
					},
					{
						"name": "description",
						"type": "nvarchar"
					},
					{
						"name": "url",
						"type": "nvarchar"
					},
					{
						"name": "protected",
						"type": "bit"
					},
					{
						"name": "geo_enabled",
						"type": "bit"
					},
					{
						"name": "verified",
						"type": "bit"
					},
					{
						"name": "created_at",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "isBase",
						"type": "bit"
					},
					{
						"name": "isRoot",
						"type": "bit"
					},
					{
						"name": "isUser",
						"type": "bit"
					},
					{
						"name": "isTag",
						"type": "bit"
					},
					{
						"name": "creationDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "lastUpdateDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "levelToExplore",
						"type": "int",
						"precision": 10
					},
					{
						"name": "completeExploration",
						"type": "bit"
					},
					{
						"name": "jsondata",
						"type": "nvarchar"
					},
					{
						"name": "active",
						"type": "bit"
					},
					{
						"name": "name",
						"type": "nvarchar"
					},
					{
						"name": "idUserTwitterString",
						"type": "varchar"
					},
					{
						"name": "max_id_tweet_last",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "created_at_tweet_last",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "max_id_tweet_last_mention",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "created_at_tweet_last_mention",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "max_id_tweet_first_mention",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "created_at_tweet_first_mention",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DateGetTweetLast",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "contadorNodeUserTwitter",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "NodeUserTwitter"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ParquetUsuario')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "storagegen2multiuso",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "twitterdatafiles"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "idNodeType",
						"type": "INT32"
					},
					{
						"name": "NodeType",
						"type": "UTF8"
					},
					{
						"name": "NodeTypeDescription",
						"type": "UTF8"
					},
					{
						"name": "Active",
						"type": "BOOLEAN"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/subusersSql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlTwitterMagister",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "id_str",
						"type": "varchar"
					},
					{
						"name": "screen_name",
						"type": "nvarchar"
					},
					{
						"name": "name",
						"type": "nvarchar"
					},
					{
						"name": "activo",
						"type": "bit"
					},
					{
						"name": "procesado",
						"type": "bit"
					},
					{
						"name": "Fechacreacion",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "levelToExplore_RootUser",
						"type": "int",
						"precision": 10
					},
					{
						"name": "contadorSubTwitterUser",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "SubTwitterUser"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ParquetSubusuario')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "storagegen2multiuso",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "twitterdatafiles"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "idNodeType",
						"type": "INT32"
					},
					{
						"name": "NodeType",
						"type": "UTF8"
					},
					{
						"name": "NodeTypeDescription",
						"type": "UTF8"
					},
					{
						"name": "Active",
						"type": "BOOLEAN"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RelacionEntreUsuariosSQL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlTwitterMagister",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "idTweetRelation",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "idTweet",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "created_at",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "idSource",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "idDest",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "ScreenNameSource",
						"type": "nvarchar"
					},
					{
						"name": "ScreenNameDest",
						"type": "nvarchar"
					},
					{
						"name": "text",
						"type": "nvarchar"
					},
					{
						"name": "Fechacreacion",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Tipo",
						"type": "varchar"
					},
					{
						"name": "activo",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TweetRelation"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ParquetRelacionEntreUsuarios')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "storagegen2multiuso",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "twitterdatafiles"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "idNodeType",
						"type": "INT32"
					},
					{
						"name": "NodeType",
						"type": "UTF8"
					},
					{
						"name": "NodeTypeDescription",
						"type": "UTF8"
					},
					{
						"name": "Active",
						"type": "BOOLEAN"
					}
				]
			},
			"dependsOn": []
		}
	]
}