datafactoryanalitics/PartialArmTemplates/ArmTemplate_7_17_2020_22_11_4.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "datafactoryanalitics"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CopiarSqltoGen2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "politicos",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "politicosSql",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "ParquetPoliticos",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "TiposUsuario",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "politicos",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"isolationLevel": "ReadUncommitted"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "NodeTypeSql",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "ParquetNodeType",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Subusuario",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "TiposUsuario",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT TOP 100 * FROM dbo.SubTwitterUser",
								"queryTimeout": "02:00:00",
								"isolationLevel": "ReadUncommitted"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "subusersSql",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "ParquetSubusuario",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "usuarios",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Subusuario",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT TOP 100 * FROM dbo.NodeUserTwitter",
								"queryTimeout": "02:00:00",
								"isolationLevel": "ReadUncommitted"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "usuariosql",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "ParquetUsuario",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "tweetRelacion",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "usuarios",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT TOP 100 * FROM dbo.TweetRelation",
								"queryTimeout": "02:00:00",
								"isolationLevel": "ReadUncommitted"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "RelacionEntreUsuariosSQL",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "ParquetRelacionEntreUsuarios",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "tweettag",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "tweetRelacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT TOP 100 * FROM dbo.TweetTag\n\n",
								"queryTimeout": "02:00:00",
								"isolationLevel": "ReadUncommitted"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "TagSql",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "ParquetTag",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "tweeturl",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "tweettag",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT TOP 100 * FROM dbo.TweetURL\n",
								"queryTimeout": "02:00:00",
								"isolationLevel": "ReadUncommitted"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "urlSql",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "ParquetURL",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ParquetSubusuario')]",
				"[concat(variables('factoryId'), '/datasets/ParquetUsuario')]",
				"[concat(variables('factoryId'), '/datasets/ParquetRelacionEntreUsuarios')]",
				"[concat(variables('factoryId'), '/datasets/TagSql')]",
				"[concat(variables('factoryId'), '/datasets/ParquetTag')]",
				"[concat(variables('factoryId'), '/datasets/urlSql')]",
				"[concat(variables('factoryId'), '/datasets/ParquetURL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ParquetUsuario')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "storagegen2multiuso",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "usuarios",
						"fileSystem": "twitterdatafiles"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "idNodeType",
						"type": "INT32"
					},
					{
						"name": "NodeType",
						"type": "UTF8"
					},
					{
						"name": "NodeTypeDescription",
						"type": "UTF8"
					},
					{
						"name": "Active",
						"type": "BOOLEAN"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ParquetSubusuario')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "storagegen2multiuso",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "subusuario",
						"fileSystem": "twitterdatafiles"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "idNodeType",
						"type": "INT32"
					},
					{
						"name": "NodeType",
						"type": "UTF8"
					},
					{
						"name": "NodeTypeDescription",
						"type": "UTF8"
					},
					{
						"name": "Active",
						"type": "BOOLEAN"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ParquetRelacionEntreUsuarios')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "storagegen2multiuso",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "relacionusuarios",
						"fileSystem": "twitterdatafiles"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "idNodeType",
						"type": "INT32"
					},
					{
						"name": "NodeType",
						"type": "UTF8"
					},
					{
						"name": "NodeTypeDescription",
						"type": "UTF8"
					},
					{
						"name": "Active",
						"type": "BOOLEAN"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TagSql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlTwitterMagister",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "idTweetTag",
						"type": "int",
						"precision": 10
					},
					{
						"name": "idTweet",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "textTag",
						"type": "nvarchar"
					},
					{
						"name": "activo",
						"type": "bit"
					},
					{
						"name": "fechacreacion",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TweetTag"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ParquetTag')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "storagegen2multiuso",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "tag",
						"fileSystem": "twitterdatafiles"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "idNodeType",
						"type": "INT32"
					},
					{
						"name": "NodeType",
						"type": "UTF8"
					},
					{
						"name": "NodeTypeDescription",
						"type": "UTF8"
					},
					{
						"name": "Active",
						"type": "BOOLEAN"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/urlSql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlTwitterMagister",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "idTweetURL",
						"type": "int",
						"precision": 10
					},
					{
						"name": "idTweet",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "textURL",
						"type": "nvarchar"
					},
					{
						"name": "activo",
						"type": "bit"
					},
					{
						"name": "fechacreacion",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TweetURL"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ParquetURL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "storagegen2multiuso",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "url",
						"fileSystem": "twitterdatafiles"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "idNodeType",
						"type": "INT32"
					},
					{
						"name": "NodeType",
						"type": "UTF8"
					},
					{
						"name": "NodeTypeDescription",
						"type": "UTF8"
					},
					{
						"name": "Active",
						"type": "BOOLEAN"
					}
				]
			},
			"dependsOn": []
		}
	]
}