datafactoryanalitics/PartialArmTemplates/ArmTemplate_7_23_2020_19_56_47.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "datafactoryanalitics"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/tweet2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*.parquet",
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ParquetTweet",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "tweet2",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/userfull')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "userfull",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"isolationLevel": "ReadUncommitted"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "BIGDATAUSERFULL",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "ParquetBIGDATAUSERFULL",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "tweetrelation",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "userfull",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"isolationLevel": "ReadUncommitted"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "BIGDATATWEETRELATION",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "ParquetBIGDATATWEETRELATION",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/BIGDATAUSERFULL')]",
				"[concat(variables('factoryId'), '/datasets/ParquetBIGDATAUSERFULL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/userfull')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlTwitterMagister",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_user",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "contadorSubTwitterUser",
						"type": "int",
						"precision": 10
					},
					{
						"name": "screen_name",
						"type": "nvarchar"
					},
					{
						"name": "idNodeType",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Partido",
						"type": "nvarchar"
					},
					{
						"name": "Cargo",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "BIGDATA",
					"table": "USERTWITTERFULL"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ParquetBIGDATAUSERFULL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "storagegen2multiuso",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "bigquery"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "id_user",
						"type": "INT64"
					},
					{
						"name": "screen_name",
						"type": "UTF8"
					},
					{
						"name": "Nombre",
						"type": "UTF8"
					},
					{
						"name": "Partido",
						"type": "UTF8"
					},
					{
						"name": "Cargo",
						"type": "UTF8"
					},
					{
						"name": "Activo",
						"type": "BOOLEAN"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BIGDATAUSERFULL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlTwitterMagister",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id_user",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "contadorSubTwitterUser",
						"type": "int",
						"precision": 10
					},
					{
						"name": "screen_name",
						"type": "nvarchar"
					},
					{
						"name": "idNodeType",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Partido",
						"type": "nvarchar"
					},
					{
						"name": "Cargo",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "BIGDATA",
					"table": "USERTWITTERFULL"
				}
			},
			"dependsOn": []
		}
	]
}