datafactoryanalitics/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "datafactoryanalitics"
		},
		"AzureSqlTwitterMagister_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlTwitterMagister'"
		},
		"GoogleCloudStorage1_secretAccessKey": {
			"type": "secureString",
			"metadata": "Secure string for 'secretAccessKey' of 'GoogleCloudStorage1'"
		},
		"storagegen2multiuso_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'storagegen2multiuso'"
		},
		"GoogleCloudStorage1_properties_typeProperties_accessKeyId": {
			"type": "string",
			"defaultValue": "GOOGASSI2M7OBQHAUDCXHROC"
		},
		"storagegen2multiuso_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://storagegen2multiuso.dfs.core.windows.net"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTwitterMagister')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlTwitterMagister_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/GoogleCloudStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "GoogleCloudStorage",
				"typeProperties": {
					"serviceUrl": "https://storage.googleapis.com",
					"accessKeyId": "[parameters('GoogleCloudStorage1_properties_typeProperties_accessKeyId')]",
					"secretAccessKey": {
						"type": "SecureString",
						"value": "[parameters('GoogleCloudStorage1_secretAccessKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/storagegen2multiuso')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('storagegen2multiuso_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('storagegen2multiuso_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ParquetPoliticos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "storagegen2multiuso",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "politicos",
						"fileSystem": "twitterdatafiles"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/storagegen2multiuso')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/politicosSql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlTwitterMagister",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "screen_name",
						"type": "nvarchar"
					},
					{
						"name": "Nombre",
						"type": "nvarchar"
					},
					{
						"name": "Partido",
						"type": "nvarchar"
					},
					{
						"name": "Cargo",
						"type": "nvarchar"
					},
					{
						"name": "Activo",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Politico"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlTwitterMagister')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/NodeTypeSql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlTwitterMagister",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "idNodeType",
						"type": "int",
						"precision": 10
					},
					{
						"name": "NodeType",
						"type": "varchar"
					},
					{
						"name": "NodeTypeDescription",
						"type": "nvarchar"
					},
					{
						"name": "Active",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "NodeType"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlTwitterMagister')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ParquetNodeType')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "storagegen2multiuso",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "nodetype",
						"fileSystem": "twitterdatafiles"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "id",
						"type": "INT64"
					},
					{
						"name": "screen_name",
						"type": "UTF8"
					},
					{
						"name": "Nombre",
						"type": "UTF8"
					},
					{
						"name": "Partido",
						"type": "UTF8"
					},
					{
						"name": "Cargo",
						"type": "UTF8"
					},
					{
						"name": "Activo",
						"type": "BOOLEAN"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/storagegen2multiuso')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/usuariosql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlTwitterMagister",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "idGraph",
						"type": "int",
						"precision": 10
					},
					{
						"name": "idNodeType",
						"type": "int",
						"precision": 10
					},
					{
						"name": "idUserTwitter",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "codeUserTwitterCurrent",
						"type": "varchar"
					},
					{
						"name": "followersCurrent",
						"type": "int",
						"precision": 10
					},
					{
						"name": "followingsCurrent",
						"type": "int",
						"precision": 10
					},
					{
						"name": "favourites_count",
						"type": "int",
						"precision": 10
					},
					{
						"name": "statuses_count",
						"type": "int",
						"precision": 10
					},
					{
						"name": "location",
						"type": "nvarchar"
					},
					{
						"name": "profile_location",
						"type": "nvarchar"
					},
					{
						"name": "description",
						"type": "nvarchar"
					},
					{
						"name": "url",
						"type": "nvarchar"
					},
					{
						"name": "protected",
						"type": "bit"
					},
					{
						"name": "geo_enabled",
						"type": "bit"
					},
					{
						"name": "verified",
						"type": "bit"
					},
					{
						"name": "created_at",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "isBase",
						"type": "bit"
					},
					{
						"name": "isRoot",
						"type": "bit"
					},
					{
						"name": "isUser",
						"type": "bit"
					},
					{
						"name": "isTag",
						"type": "bit"
					},
					{
						"name": "creationDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "lastUpdateDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "levelToExplore",
						"type": "int",
						"precision": 10
					},
					{
						"name": "completeExploration",
						"type": "bit"
					},
					{
						"name": "jsondata",
						"type": "nvarchar"
					},
					{
						"name": "active",
						"type": "bit"
					},
					{
						"name": "name",
						"type": "nvarchar"
					},
					{
						"name": "idUserTwitterString",
						"type": "varchar"
					},
					{
						"name": "max_id_tweet_last",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "created_at_tweet_last",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "max_id_tweet_last_mention",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "created_at_tweet_last_mention",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "max_id_tweet_first_mention",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "created_at_tweet_first_mention",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DateGetTweetLast",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "contadorNodeUserTwitter",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "NodeUserTwitter"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlTwitterMagister')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ParquetUsuario')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "storagegen2multiuso",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "usuarios",
						"fileSystem": "twitterdatafiles"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "idNodeType",
						"type": "INT32"
					},
					{
						"name": "NodeType",
						"type": "UTF8"
					},
					{
						"name": "NodeTypeDescription",
						"type": "UTF8"
					},
					{
						"name": "Active",
						"type": "BOOLEAN"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/storagegen2multiuso')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/subusersSql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlTwitterMagister",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "id_str",
						"type": "varchar"
					},
					{
						"name": "screen_name",
						"type": "nvarchar"
					},
					{
						"name": "name",
						"type": "nvarchar"
					},
					{
						"name": "activo",
						"type": "bit"
					},
					{
						"name": "procesado",
						"type": "bit"
					},
					{
						"name": "Fechacreacion",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "levelToExplore_RootUser",
						"type": "int",
						"precision": 10
					},
					{
						"name": "contadorSubTwitterUser",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "SubTwitterUser"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlTwitterMagister')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ParquetSubusuario')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "storagegen2multiuso",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "subusuario",
						"fileSystem": "twitterdatafiles"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "idNodeType",
						"type": "INT32"
					},
					{
						"name": "NodeType",
						"type": "UTF8"
					},
					{
						"name": "NodeTypeDescription",
						"type": "UTF8"
					},
					{
						"name": "Active",
						"type": "BOOLEAN"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/storagegen2multiuso')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RelacionEntreUsuariosSQL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlTwitterMagister",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "idTweetRelation",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "idTweet",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "created_at",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "idSource",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "idDest",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "ScreenNameSource",
						"type": "nvarchar"
					},
					{
						"name": "ScreenNameDest",
						"type": "nvarchar"
					},
					{
						"name": "text",
						"type": "nvarchar"
					},
					{
						"name": "Fechacreacion",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "Tipo",
						"type": "varchar"
					},
					{
						"name": "activo",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TweetRelation"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlTwitterMagister')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ParquetRelacionEntreUsuarios')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "storagegen2multiuso",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "relacionusuarios",
						"fileSystem": "twitterdatafiles"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "idNodeType",
						"type": "INT32"
					},
					{
						"name": "NodeType",
						"type": "UTF8"
					},
					{
						"name": "NodeTypeDescription",
						"type": "UTF8"
					},
					{
						"name": "Active",
						"type": "BOOLEAN"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/storagegen2multiuso')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/TagSql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlTwitterMagister",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "idTweetTag",
						"type": "int",
						"precision": 10
					},
					{
						"name": "idTweet",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "textTag",
						"type": "nvarchar"
					},
					{
						"name": "activo",
						"type": "bit"
					},
					{
						"name": "fechacreacion",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TweetTag"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlTwitterMagister')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ParquetTag')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "storagegen2multiuso",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "tag",
						"fileSystem": "twitterdatafiles"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "idNodeType",
						"type": "INT32"
					},
					{
						"name": "NodeType",
						"type": "UTF8"
					},
					{
						"name": "NodeTypeDescription",
						"type": "UTF8"
					},
					{
						"name": "Active",
						"type": "BOOLEAN"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/storagegen2multiuso')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/urlSql')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlTwitterMagister",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "idTweetURL",
						"type": "int",
						"precision": 10
					},
					{
						"name": "idTweet",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "textURL",
						"type": "nvarchar"
					},
					{
						"name": "activo",
						"type": "bit"
					},
					{
						"name": "fechacreacion",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TweetURL"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlTwitterMagister')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ParquetURL')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "storagegen2multiuso",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "url",
						"fileSystem": "twitterdatafiles"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "idNodeType",
						"type": "INT32"
					},
					{
						"name": "NodeType",
						"type": "UTF8"
					},
					{
						"name": "NodeTypeDescription",
						"type": "UTF8"
					},
					{
						"name": "Active",
						"type": "BOOLEAN"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/storagegen2multiuso')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CopiarSqltoGen2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "politicos",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "politicosSql",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ParquetPoliticos",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "TiposUsuario",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "politicos",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"isolationLevel": "ReadUncommitted"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "NodeTypeSql",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ParquetNodeType",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Subusuario",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "TiposUsuario",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT TOP 100 * FROM dbo.SubTwitterUser",
								"queryTimeout": "02:00:00",
								"isolationLevel": "ReadUncommitted"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "subusersSql",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ParquetSubusuario",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "usuarios",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Subusuario",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT TOP 100 * FROM dbo.NodeUserTwitter",
								"queryTimeout": "02:00:00",
								"isolationLevel": "ReadUncommitted"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "usuariosql",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ParquetUsuario",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "tweetRelacion",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "usuarios",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT TOP 100 * FROM dbo.TweetRelation",
								"queryTimeout": "02:00:00",
								"isolationLevel": "ReadUncommitted"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "RelacionEntreUsuariosSQL",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ParquetRelacionEntreUsuarios",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "tweettag",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "tweetRelacion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT TOP 100 * FROM dbo.TweetTag\n\n",
								"queryTimeout": "02:00:00",
								"isolationLevel": "ReadUncommitted"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "TagSql",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ParquetTag",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "tweeturl",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "tweettag",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT TOP 100 * FROM dbo.TweetURL\n",
								"queryTimeout": "02:00:00",
								"isolationLevel": "ReadUncommitted"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "urlSql",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "ParquetURL",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/politicosSql')]",
				"[concat(variables('factoryId'), '/datasets/ParquetPoliticos')]",
				"[concat(variables('factoryId'), '/datasets/NodeTypeSql')]",
				"[concat(variables('factoryId'), '/datasets/ParquetNodeType')]",
				"[concat(variables('factoryId'), '/datasets/subusersSql')]",
				"[concat(variables('factoryId'), '/datasets/ParquetSubusuario')]",
				"[concat(variables('factoryId'), '/datasets/usuariosql')]",
				"[concat(variables('factoryId'), '/datasets/ParquetUsuario')]",
				"[concat(variables('factoryId'), '/datasets/RelacionEntreUsuariosSQL')]",
				"[concat(variables('factoryId'), '/datasets/ParquetRelacionEntreUsuarios')]",
				"[concat(variables('factoryId'), '/datasets/TagSql')]",
				"[concat(variables('factoryId'), '/datasets/ParquetTag')]",
				"[concat(variables('factoryId'), '/datasets/urlSql')]",
				"[concat(variables('factoryId'), '/datasets/ParquetURL')]"
			]
		}
	]
}